<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tennis.neutrallytennis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tnicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tnicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeutrallyTennis" >
        <activity
            android:name="com.tennis.neutrallytennis.webinfo"
            android:exported="false" />
        <activity
            android:name="com.tennis.neutrallytennis.Login"
            android:exported="false" />
        <activity
            android:name="com.tennis.neutrallytennis.CheckResult"
            android:exported="false" />
        <activity
            android:name="com.tennis.neutrallytennis.Check"
            android:exported="false" />
        <activity
            android:name="com.tennis.neutrallytennis.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.tennis.neutrallytennis.MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>